<!doctype html>
<html>
 <meta charset="utf-8" />
 <title>目录</title>
<head>
	<style name="inter_style" type="text/css">
    #header{

    }
    #nav{
        background-color: #eeeeee;
        float: left;
        width: 200px;
        /*min-height: 200px*/
    }
    #main{
        background-color: white;
        float: left;
    }
    body{background-color: write}
  	.catalogue{
        text-align: center;color: red;font-size:45px;
    }
    .subtitleAll{
        text-align: left;color: #56cfef;font-size:20px;margin-left: 20px;margin-bottom: 8px
    }
    </style>

</head>
<body>

</body>
</html>
